{% extends 'admin/base_site.html' %}

{% block content %}
	<h1>Запланированные рассылки</h1>
	{% if planned_msgs %}
    	<table border>
			<tr> <td>Дата</td> <td>Текст</td> </tr>
			{% for msg in planned_msgs %}
			<tr><td>{{msg.planned_date}}</td><td>{{msg.planned_msg_text}}</td></tr>
			{% endfor %}
		</table>
	{% else %}
    	<h2>Сообщений нет</h2>
	{% endif %}
	<h1> </h1>
	<h1>Выполненные рассылки</h1>
	<table border>
		<thead>
		<tr><td>Дата</td> <td>Получили рассылку</td> <td>Не доставлено</td></tr>
		</thead>
		{% for msg in sended_msgs %}
		<tr><td>{{msg.send_date}}</td><td>{{msg.success_send}}</td><td>{{msg.not_send}}</td></tr>
		{% endfor %}
	</table>
		<h1> </h1>
		<h1>Количество нажатий кнопок из раздела "/menu"</h1>
	{% if clicks_count %}
    	<table border>
			<tr> <td>Название кнопок</td><td>За день</td><td>За неделю</td><td>За месяц</td><td>Всего</td></tr>
			{% for button_title, count in clicks_count.items %}
			<tr><td>{{button_title}}</td><td>{{count.0}}</td><td>{{count.1}}</td><td>{{count.2}}</td><td>{{count.3}}</td></tr>
			{% endfor %}
		</table>
	{% else %}
    	<h2>Сообщений нет</h2>
	{% endif %}
{% endblock content%}